<!-- IF S_CLAUSI_EPGP_ACTIVE and U_EPGP and EPGP_PAGE -->
<!-- INCLUDEJS highstocks/js/highstock.js -->
<!-- INCLUDEJS highstocks/js/themes/gray.js -->
<!-- INCLUDEJS epgp.js -->

<!-- IF EPGP_CHAR_PAGE -->
	<script type="text/javascript">
	var epgp_chart;
	$(document).ready(function() {
		var epgp_chart = new Highcharts.StockChart({
			chart: {
				renderTo: 'character_epgp',
				type: 'line'
			},
			credits: {
				enabled: false
			},
			rangeSelector: {
				selected: 1
			},
			title: {
				text: 'EPGP Character {CHARNAME}'
			},
			legend: {
				enabled: true
			},
			yAxis: {
				min: 0,
				plotLines: [{
                value: {MIN_EP},
                width: 1,
                color: 'green',
                dashStyle: 'dash',
                label: {
                    text: 'Min EP',
                    align: 'right',
                    y: 12,
                    x: 0
                }
            }]
			},
			series: 
			[
				<!-- IF .n_standings -->
				{
					name: 'EP',
					data: [<!-- BEGIN n_standings -->[{n_standings.TIMESTAMP}, {n_standings.EP}],<!-- END n_standings -->],
					marker: { enabled: true },
					color: 'green',
				},
				{
					name: 'GP',
					data: [<!-- BEGIN n_standings -->[{n_standings.TIMESTAMP}, {n_standings.GP}],<!-- END n_standings -->],
					marker: { enabled: true },
					color: 'red',
				},
				{
					name: 'PR',
					data: [<!-- BEGIN n_standings -->[{n_standings.TIMESTAMP}, {n_standings.PR}],<!-- END n_standings -->],
					marker: { enabled: true },
					color: 'yellow',
				}
				<!-- ENDIF -->
			]
		});
	});
	</script>
<!-- ENDIF -->

<!-- ENDIF -->
