<!-- IF S_CLAUSI_EPGP_ACTIVE and U_EPGP and EPGP_PAGE -->
<!-- INCLUDEJS highstocks/js/highstock.js -->
<!-- INCLUDEJS highstocks/js/themes/gray.js -->
<!-- INCLUDEJS epgp.js -->

<!-- IF EPGP_CHAR_PAGE -->
	<script type="text/javascript">
	var epgp_chart;
	$(document).ready(function() {
		var epgp_chart = new Highcharts.StockChart({
			chart: {
				renderTo: 'character_epgp',
				type: 'line'
			},
			title: {
				text: 'EPGP Character {CHARNAME}'
			},
			rangeSelector : {
				 selected : 1
			},
			xAxis: {
				type: 'datetime',
				labels: {
					format: '{value:%d.%m.%Y}',
					align: 'left'
				}
			},
			yAxis: {
				min: 0,
			},
			series: 
			[
				<!-- IF .n_standings -->
				{
					name: 'EP',
					data: [<!-- BEGIN n_standings -->[{n_standings.TIMESTAMP}, {n_standings.EP}],<!-- END n_standings -->],
					pointStart: {FIRST_TIMESTAMP}
				},
				{
					name: 'GP',
					data: [<!-- BEGIN n_standings -->[{n_standings.TIMESTAMP}, {n_standings.GP}],<!-- END n_standings -->],
					pointStart: {FIRST_TIMESTAMP}
				},
				{
					name: 'PR',
					data: [<!-- BEGIN n_standings -->[{n_standings.TIMESTAMP}, {n_standings.PR}],<!-- END n_standings -->],
					pointStart: {FIRST_TIMESTAMP}
				}
				<!-- ENDIF -->
			]
		});
	});
	</script>
<!-- ENDIF -->

<!-- ENDIF -->
